.ctitle {
  text-align: center;
  border: solid black;
  width: 100%;
}

.ccategory_name {
  text-align: center;
  margin-top: 25px;
  margin-left: 70%;
  position: inherit;
}

.cvaleur,
.clogs {
  text-align: center;
  margin-left: 70%;
  padding-top: 20px;
  border: solid black;
  position: inherit;
}
.camera {
  width: 50%;
  display: inline-block;
}
img {
  width: 400px;
  height: 400px;
}
